* {
  margin: 0;
  padding: 0; }

@media (max-width: 568px) {
  .imagenes-idolos {
    display: none;
    box-sizing: content-box; } }

@media (min-width: 550px) {
  .imagenes-idolos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .imagenes-idolos .img2 {
      height: 300px;
      width: 350px;
      border: 4px solid white; } }

@media (max-width: 550px) {
  .img2 {
    height: 200px;
    width: 300px;
    border: 4px solid white; }
  .container {
    background-color: #ffd900; } }
