.footer {
    background-color: rgba(0, 51, 145, .95);
    text-align: center;
    border-top: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: auto;
    max-width: auto;
}

.footer ul li {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    font-size: 25px;

}
.footer h4 {
    display: flex;
    flex-direction: row;
    align-self: center;
    color: white;
    font-size: 35px;
    margin-left: 5px;
    font-family: $typeOne;
    }