%estiloParrafo {
    font-size: 20px;
    font-family: $typeOne;
    text-align: center;
    margin: 20px;
    color: $tituloGrande;
    background-color: $colorSecundario;
    animation-duration: 1s;
    animation-name: entrada;
    padding: 5px;
    
}

%estiloTitulo {
    font-size: 30px;
    color: $tituloGrande;
    font-weight: bold;
    text-align: center;
}

@mixin fontStyle ($footerText, $colorSecundario) {
    font-size: 20px;
    padding-top: 35px;
    font-family: $typeOne;
    text-align: center;
    list-style: none;
    margin-top: 15px;
    color: $tituloGrande;
    
   
}